
body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.alert{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

/*Messages*/
.messageBoxLeft{
    display:flex;
    justify-content:flex-end;
}

.message{
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    word-wrap: break-word;
    width: 40%;
}

.message-user {
    padding: 5px;
    font-size: 14px;
    font-weight: bold;

}

.message-dateTime {
    font-size: 14px;
    font-weight: 300;
    display:flex;
    justify-content:flex-end;
}

.message-text {
    padding: 5px;
    word-wrap:break-word;
    font-size: 16px;
}

.chatContainer{
    height: 90%;
    padding: 10px;
}

.userList-user{
    display: flex;
    align-items: center;
    word-wrap:break-word;
    font-size: 16px;
    font-weight: bold;
}

.userList-userAvatar{
    min-height: 30px;
    min-width: 30px;
    max-width: 30px;
    max-height: 30px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid #6c757d;
}

/*General*/
.card{
    margin: 5px;
    padding: 20px;
    border-radius: 20px;
}

/*all elements centered*/
.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*all elements vertical*/
.colContainer {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

/*all elements horizontal*/
.rowContainer{
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.marginAll{
    margin: 5px;
}

.full{
    width: 100%;
    height: 100%;
}


/**{*/
/*    outline: 2px solid lightgreen; !important;*/
/*}*/
