
body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.messageBoxLeft{
    display:flex;
    justify-content:flex-end;
}

.message{
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    word-wrap: break-word;
    width: 40%;
}

.message-user {
    padding: 5px;
    font-size: 14px;
    text-align: right;
    font-weight: bold;
}

.message-text {
    padding: 5px;
    word-wrap:break-word;
    font-size: 16px;
}


.card{
    padding: 20px;
    border-radius: 20px;
}

/*all elements in center*/
.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*all elements vertical*/
.colContainer {
    display: flex;
    flex-direction: column;
}

.marginAll{
    margin: 10px;
}


/**{*/
/*    outline: 2px solid lightgreen; !important;*/
/*}*/