name: Makefile tests

on:
  push:
    branches: [ "main", "develop", "develop-sqlite3" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run tests
        run: make test
